<header class = "header">
    <nav>
        <div class="icon-menu"></div>
        <h1 id= "booksApp">Books App</h1>
        <ul>
        <!-- <li><a href="/" class="icon-home"> Home</a></li> -->
        <li><a href="/books" class="icon-rocket"> Saved Books</a></li>
        <li><a href="/addabook" class="icon-plus"> Add a Book</a></li>
        <li><a href="/ping" class="icon-address-book"> Search Books</a></li>
        </ul>
    </nav>
</header>