<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/styles/normalize.css">
    <title>Error</title>
  </head>
  <body>
    <%- include('../partials/header') %>
      <!-- <h1 id = "a404">404 ERROR</h1> -->
      <img id = "a404" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/e7060611050605.560f08086e760.jpg" alt="a404">
    <%- include('../partials/footer') %>
  </body>
</html>
